.navtab-wrapper {
  background: color-mix(in srgb, var(--primary-100) 10%, transparent);
  border-radius: 10px;
  border: 1px solid var(--primary-200);
}

.title-underline {
  background: linear-gradient(
    to left,
    color-mix(in srgb, var(--primary-100) 0%, transparent) 0%,
    #b7ab98 50%,
    color-mix(in srgb, var(--primary-100) 0%, transparent) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 9.5%;
}
